<h1>List of the employees</h1>
<table id="employees">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Job title</th>
    <th>Date of birth</th>
    <th></th>
  </tr>
  <tr *ngFor="let employee of employees; let i=index">
    <td>{{employee.id}}</td>
    <td><input type="text" required name="name" [(ngModel)]="employee.name"/></td>
    <td><input type="text" required name="surname" [(ngModel)]="employee.surname"/></td>

    <td><select name="position" [(ngModel)]="employee.position">
      <option *ngFor="let position of positions" [ngValue]="position">{{position}}</option>
    </select></td>
    
    <td><input type="date" required name="date" [ngModel] ="employee.date | date:'yyyy-MM-dd'" (ngModelChange)="employee.date = $event"/></td>

    <td> <!-- Button Add for last employee, buttons Save and Delete for previous employees. -->
      <button *ngIf="i==employees.length-1" (click)="addEmployee(employee)">Add</button>
      <button *ngIf="i!=employees.length-1" (click)="updateEmployee(employee)">Save</button>
      <button *ngIf="i!=employees.length-1" (click)="deleteEmployee(i)">Delete</button>

      <!-- Error messages. -->
      <span class="errorMessage" *ngIf="errors[employee.id]">{{errors[employee.id]}}</span>
    </td>
  </tr>
</table>